* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f6fa;
}
.app-1 {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__left {
  flex: 0.9;
}
.app__media {
  display: flex;
  justify-content: center;
  width: 20rem;
  /* border: 1px solid blue; */
}
.app__input {
  border: 1px solid lightslategrey;
  padding: 5px;
  display: flex;
  margin-right: 5px;
}
.app__search {
  border: none;
  outline: none;
  padding: 5px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}
.app__dropdown {
  width: 8rem;
}
.app__stats {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.app__input > button {
  border: none;
  outline: none;
}
.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}
@media (max-width: 990px) {
  .app-1 {
    flex-direction: column;
    padding: 10px;
  }
  .app__input {
    display: flex;
    margin-bottom: 5px;
  }
  .app__media {
    flex-direction: column;
    max-width: 10rem;
  }
  .app__header {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .app__media {
    display: flex;
    flex-direction: column;
    max-width: 10rem;
  }
  .app-1 {
    flex-direction: column;
    padding: 5px;
  }
  .app__header {
    width: 100%;
  }
  .app__input {
    display: flex;
  }
  .app__header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .app__stats {
    flex-direction: column;
    margin-bottom: 10px;
  }
}
@media (max-width: 415px) {
  .app__media {
    display: flex;
    flex-direction: column;
    max-width: 10rem;
  }
  .app-1 {
    flex-direction: column;
    padding: 5px;
  }
  .app__header {
    width: 100%;
  }
  .app__input {
    display: flex;
  }
  .app__header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .app__stats {
    flex-direction: column;
    margin-bottom: 10px;
  }
}

@media (max-width: 670px) {
  .app-1 {
    flex-direction: column;
    padding: 5px;
  }
  .app__header {
    width: 100%;
  }
  .app__media {
    display: flex;
    flex-direction: column;
    max-width: 10rem;
  }
  .app__input {
    display: flex;
  }
}
